.nav {
    background-color:black;
    background-repeat:no-repeat;
    background-size:cover;
}
.nav li {
    display:inline-block;
    padding: 15px;
}
.nav a {
    font-size:16px;
    padding:10px;
    font-weight:bold;
    color:white;
    
}
.jumbotron {
    background-image: url(https://farm3.staticflickr.com/2916/14350925155_8c3cb69a7c_b.jpg);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
body {
        background-image: url(https://farm3.staticflickr.com/2916/14350925155_8c3cb69a7c_b.jpg);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.jumbotron .container {
    position:relative;
    top:60px;
}
.jumbotron p {
    font-size:20px;
    font-family: lucida-grande;
    color:white;
    background-color:none;
    padding:20px;
    position:relative;
    top:10px;

}
.jumbotron h1 {
    font-size:80px;
    font-family:lucida-grande;
    color:white;
    background-color:none;
    padding:20px;
}
h2 {
    font-family:lucida-grande;
    color:white;
    background-color:none;
    padding:20px;
}
.jumbotron ul {
    font-size:28px;
    font-family: lucida-grande;
    color:white;
    background-color:none;
    padding:5px;
    padding-top: 70px;
    position:relative;
    top:10px;
    list-style-position:inside;
    list-style:none;
    text-align: right;
    font-weight: bold;

}
.jumbotron li {
    font-size:20px;
    font-family: lucida-grande;
    color:white;
    background-color:none;
    padding:5px;
    position:relative;
    top:10px;
    list-style-position:inside;
    list-style:none;
    text-align: right;
}
#me {
    padding-top:20px;
    padding-bottom:20px;
}
.info p {
    text-align:center;
    padding:150px;
    padding-bottom:20px;
    padding-top:20px;
}
#quote {
    font-style:italic;
    padding-bottom:0px;
    text-align:right;
    font-size:24px;
    margin-left:300px;
}
#author {
    padding-top:0px;
    text-align:right;
    font-size:20px;
}
.info h2 {
    text-align:center;
    padding:150px;
    padding-bottom:20px;
    padding-top:20px;
    color:white;
}
#car {
    font-size:25px;
    font-style:italic;
}
.contact p {
    text-align:right;
    position:relative;
    left:80px;
    bottom:40px;
}
#book {
    position:relative;
    bottom:360px;
    left:20px;
}
#video {
    padding-top: 20px;
}
#home {
    position: relative;
    bottom:220px;
    left:80px;
}
#cars {
    position: relative;
    left: 180px;
}